### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

.idea/*
!.idea/libraries
!.idea/artifacts
!*.iml
.idea/workspace.xml
.idea/shelf/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
