.table-row-cell.hilite,
.table-row-cell.hilite .table-cell {
    -fx-background-color: derive(-fx-accent, 60%);
    -fx-background-insets: 0, 1 1 0 1;
    -fx-background-radius: 0;
}

.table-row-cell:selected.hilite,
.table-row-cell:selected.hilite .table-cell {
    -fx-background-color: derive(-fx-accent, -10%);
}

.table-row-cell.hilite .text {
    -fx-fill: -fx-text-background-color;
}

.table-row-cell.hilite,
.table-row-cell.hilite .table-cell,
.table-row-cell.hilite .text {
    -fx-font-weight: bold;
}

.table-row-cell.hilite {
    -fx-border-color: -fx-accent;
    -fx-border-width: 0 0 0 3;
    -fx-border-insets: 0;
}
